@model CryptidHunter.Models.UserProfile
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="container bg-warning xtext-white p-4 display-4">Welcome to Cryptid Hunter:</h1>
    <h2 class="display-4">Community watch for what's watching us</h2>
    <h2 class="dislay-4">Your post and comments will be logged under your email address: @Model.Email, but you probably knew that.</h2>
</div>
