@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Thank you for using Cryptid Hunter. We understand and value your need for privacy. The United States Government has made it a practice to keep information away from you and we would like to help you return the favor.
    That's why we take as much precaution as we know how to protect your sightings and documnetation from the ungrateful and ignorant. That being said, feel free to let our team know of any of your greater privacy concerns.
    We will do our best to address them.'</p>
